.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh; 
}


.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.content-container {
  display: flex;
  flex-grow: 1;
  height: calc(70vh - 50px); /* Adjust 50px to the actual height of your navbar */
}

.welcome-text {
  flex: 1;
  padding: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align text to the left */
}

.library-image {
  flex: 1;
  overflow: hidden; /* In case the image is too tall */
}

.library-image img {
  height: 100%;
  width: auto;
  object-fit: cover; /* This will cover the div without stretching the image */
}

.block {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 15vh;
  background-color: #15182e;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  align-items: center;
  color: aliceblue;
}

.navbar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: #15182e;
  color: white;
  padding: 10px;
}

.nav-items a {
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 20px;
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 5px;
}

.user-account {
  margin-right: 10px;
}

.main-content h1 {
  color: #333;
}

.cart-icon {
  height: 25px; 
  width: auto;
  margin: 0;
  filter: brightness(0) invert(1);
}