body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fit the app to the viewport height */
}

.navbar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: #15182e;
  color: white;
  padding: 10px;
}

.nav-items a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 5px;
}

.user-account {
  padding: 10px;
}

.main-content h1 {
  color: #333;
}



