main-container {
    display: flex;
    flex-wrap: nowrap; /* Keep this as nowrap to ensure side-by-side layout */
  }

  .filter-container {
    flex: 0 0 20%;
    height: calc(100vh - 20px);
    overflow-y: auto;
    border: 1px solid #d3d3d3; /* Light grey border added here */
    /* Additional styling for padding or margin as needed */
  }
  
  /* Bootstrap dropdown button customization */
  .dropdown-toggle {
    background-color: #00008b; /* Dark blue background for the dropdown button */
    color: white; /* White text color for contrast */
    border-color: #00008b; /* Dark blue border for the dropdown button */
  }

.availability-drpdw .dropdown-toggle,
.periodicals-drpdw .dropdown-toggle,
.type-drpdw .dropdown-toggle {
  margin-bottom: 10px;
  background-color: #0d0d49 !important; /* Dark blue background */
  border: 1px solid #25254b !important; /* Dark blue border */
  width: 98%; /* Make button width fill the container */
  min-height: 40px;
  text-align: left;
}

/* You may also want to add styles for hover, focus, and active states */
.availability-drpdw .dropdown-toggle:hover,
.periodicals-drpdw .dropdown-toggle:hover,
.type-drpdw .dropdown-toggle:hover,
.availability-drpdw .dropdown-toggle:focus,
.periodicals-drpdw .dropdown-toggle:focus,
.type-drpdw .dropdown-toggle:focus {
  background-color: #a4a4e2 !important;
  box-sizing: border-box;
}
  
  /* Ensure this selector is more specific or add !important to override default styles if necessary */
  .dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 139, 0.5);; /* Focus shadow in dark blue */
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .dropdown-toggle {
    padding-right: 30px;
  }


  .periodicals-container {
    flex: 1; /* Fill the remaining space */
    height: calc(100vh - 20px); /* Match filter container height */
    overflow-y: auto; /* Scrollable container for books */
    padding: 20px;
  }
  
  .periodical-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px; /* Adjust gap to your preference */
  }
  
  /* Style for each book card to ensure two per row */
  .card-container {
    width: calc(50% - 20px); /* Subtract the gap from the total width */
    margin: 10px; /* Adjust margin to your preference */
    /* Other styles for the card */
  }
  .filter {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  


  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }

  }
  
  /* Apply additional responsive adjustments as necessary */
  
  
  /* Rest of your styles */
  